 <div class="user-details">
  <h1> About </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>System</h2>
      <i class="devicon-linux-plain"></i>
      <i class="devicon-redhat-plain-wordmark colored"></i>
      <i class="devicon-apple-original"></i>
      <p>Familiar with cross-platform development and hands-on experience in both Windows and Linux system administration.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-csharp-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p>Strong grasp of wide variety of coding and scripting languages, including Python, C#, Java, JavaScript, PHP, etc.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <i class="devicon-vim-plain colored"></i>
      <p>Proficient with Git, Perforce, AWS, Vim, WordPress, Unreal Engine, Autodesk Maya, Adobe Premiere Pro, Adobe After Effects, Adobe Photoshop etc.</p>
    </div>
</div>
