<div class="user-details">
  <h1> Coding Projects </h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Timecard" src="{{ "/assets/img/timecard.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Shotgun Timecard App </h3>
    <ul>
      <li> Python, PyQt, Django</li>
    </ul>
    <p> Independent Shotgun App that can help users quickly locate their tasks
      and log their work time by simply drag and drop
    </p>
    <a class="project-link" target="_blank" href="https://github.com/qpskcn1/tk-desktop-timecard">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Shotgun" src="{{ "/assets/img/shotgun.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Shotgun Toolkit Development </h3>
    <ul>
      <li> Python, PySide, Mel, Flask</li>
    </ul>
    <p>Internal Shotgun Toolkit streamlines artists' workflow between different applications, like <b>Unreal</b>, <b>Maya</b>,
      <b>Nuke</b> and <b>Photoshop</b>, etc</p>
    <!-- <a class="project-link" target="_blank" href="https://github.com/qpskcn1/tk-desktop-timecard">Check it out</a> -->
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="WebGL" src="{{ "/assets/img/webgl.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> WebGL Model Viewer </h3>
    <ul>
      <li> Python, MEL, JavaScript, Three.js </li>
    </ul>
    <p> Automate the process of exporting fbx from Maya to WebGL viewer.
      <br>Since artists using Maya are used to wireframes in quads instead of triangles,
      I recalculate the wireframe to eliminate diagonals.
      <br>Integrate viewer into shotgun toolkit, so everyone can host their own viewer service locally.
    </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Fantasy" src="{{ "/assets/img/Fantasy.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Fantasy Basketball Chrome Extension </h3>
    <ul>
      <li> JavaScript, JQuery, Chrome Storage APIs</li>
    </ul>
    <p> More user-friendely extension that helps to adjust lineups for Yahoo Fantasy
      Basketball. <br>This extension was developed in October 2017. Yahoo
      released the new function "Start Active Players for the week"
      in Feburary 2018.
    </p>
    <a class="project-link" target="_blank" href="https://chrome.google.com/webstore/detail/fantasy-basketball-helper/agnifafbknpcmagdhongfcmbgdlckknn">Check
      it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Fantasy_PY" src="{{ "/assets/img/fantasy_py.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Fantasy Basketball CMD Tool </h3>
    <ul>
      <li> Python, BeautifulSoup </li>
    </ul>
    <p>Command Line Tool scraps data from Yahoo and helps to adjust lineups for Fantasy Basketball within few commands</p>
    <a class="project-link" target="_blank" href="https://github.com/qpskcn1/Yahoo-Fantasy-Basketball-Helper">Check it
      out</a>
  </div>
</div>