<div class="user-details">
    <h1> Media Projects </h1>
</div>


<div class="user-projects">
    <div class="images-left">
        <iframe src="https://player.vimeo.com/video/276298469" width="450" height="280" frameborder="0"
            webkitallowfullscreen mozallowfullscreen allowfullscreen>
        </iframe>
    </div>
    <div class="contents-right">
        <h3> Lengi Studios Animation Logo </h3>
        <ul>
            <li> Automation, Render </li>
        </ul>
        <p>
            Automating submittion process for artists
            <br>Managing the renderfarm as well as fixing render issues using Thinkbox Deadline
            <br>Hosting license server for renderfarm servers, slaves and applications
        </p>
    </div>
</div>

<div class="user-projects">
    <div class="images-right">
        <iframe src="https://www.youtube.com/embed/7Z1YUhQNt94" width="450" height="280" frameborder="0"
            allowfullscreen="">
        </iframe>
    </div>
    <div class="contents">
        <h3> LightREAL Music Festival Promotion </h3>
        <ul>
            <li> Visual Effects, Editing, Color </li>
        </ul>
        <p>
            Lighting and Compositing to integrate animation elements into video in After Effects and Editing in
            Premiere Pro.
        </p>
    </div>
</div>