<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/shotgun.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Shotgun Toolkit Development </h3>
    <ul>
      <li> Python, PySide, JavaScript, Mel</li>
      <li> Nuke, Maya, Photoshop</li>
    </ul>
    <p>Developed independent shotgun desktop apps including LicenseMonitor, HouseLauncher and Timelog Tool as well as many shotgun integration apps</p>
<!--     <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Fantasy.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Fantasy Basketball Chrome Extension </h3>
    <ul>
      <li> JavaScript, JQuery, Chrome Storage APIs</li>
    </ul>
    <p>I created Python scripts to help me adjust lineups at first. Then, to make it more user friendly, I developed this extension which adds another button next to Start Active Players so that users can edit their lineup easily for next 7 days.</p>
    <a class="project-link" target="_blank" href="https://chrome.google.com/webstore/detail/fantasy-basketball-helper/agnifafbknpcmagdhongfcmbgdlckknn">Check it out</a>
  </div>
</div>
