<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <section id="coding-projects">
        {% include coding-projects.html %}
      </section>
      <section id="media-projects">
          {% include media-projects.html %}
        </section>
        <section id="films">
            {% include films.html %}
          </section>
        {{ content }}
      {% include footer.html %}
  </body>
